body {
    height: 93vh;
    width: 98vw;
    display: flex;
}

.container1 {
    width: 30%;
    height: 100%;
    line-height: 4px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block;
}

textarea {
    resize: none;
    height: 200px;
    width: 90%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 0 40px 0 40px;
    border-radius: 36px;
    background-color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div2 {
    text-align: justify;
}
.div2 > p {
    font-size: 18px;
}